
[
  {mqcli, [
    {amqp, [
      {host, "127.0.0.1"},
      {port, 5672},
      {virtual_host, "/"},
      {username, <<"guest">>},
      {password, <<"guest">>}
    ]},
    {routes, [
      {client, [
        {connect, [
          {1, [{exchange, "direct:emq.connection"}]}
        ]},
        {disconnect, [
          {1, [{exchange, "direct:emq.connection"}]}
        ]},
        {subscribe, [
          {1, [{exchange, "direct:emq.subscription"}]}
        ]},
        {unsubscribe, [
          {1, [{exchange, "direct:emq.subscription"}]}
        ]}
      ]},
      {message, [
        {publish, [
          {1, [{topic, "$SYS/#"}, {exchange, "topic:emq.$sys"}]},
          {2, [{topic, "#"}, {exchange, "topic:emq.pub"}]}
        ]}
      ]}
    ]}
  ]},
  {lager, [
    {log_root, "/var/log/mqcli"},
    {handlers, [
      {lager_console_backend, [{level, debug}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}
  ]}
].

