[
  {lager, [
    {log_root, "./log"},
    {handlers, [
      {lager_console_backend, [{level, debug}]},
      {lager_file_backend, [{file, "error.log"}, {level, error}]},
      {lager_file_backend, [{file, "console.log"}, {level, debug}]}
    ]}
  ]},
  {mqcli, [
    {amqp_uri, "amqp://marco:top123.@127.0.0.1:5672/%2F"},
    {nsqlookupd, [{"localhost", 42316}]},
    {nsqd, [{"localhost", 42312}]},
    {routes, [
      {client, [
        {connect, [
          {1, [{exchange, "direct:emq.connection"}]}
        ]},
        {disconnect, [
          {1, [{exchange, "direct:emq.connection"}]}
        ]},
        {subscribe, [
          {1, [{exchange, "direct:emq.subscription"}]}
        ]},
        {unsubscribe, [
          {1, [{exchange, "direct:emq.subscription"}]}
        ]}
      ]},
      {message, [
        {publish, [
          {1, [{topic, "$SYS/#"}, {exchange, "topic:emq.$sys"}]},
          {2, [{topic, "#"}, {exchange, "topic:emq.pub"}]}
        ]}
      ]}
    ]}
  ]}
].
